{{- define "main" }}
<section class="homepage">
    <img src="https://pbs.twimg.com/profile_images/1093289342242603008/Pm8-gdzV_400x400.jpg" alt="avatar">
    <p class="description">
        <span class="name">Arnaud Foraison</span>
        <span class="job">Software Engineer</span>
    </p>
    <ul class="social-network">
        <li>
            <a href="https://github.com/arnaudforaison" target="_blank">
                <img class="github" src="icons/github.svg" alt="Github">
            </a>
        </li>
        <li>
            <a href="https://twitter.com/arnaudforaison" target="_blank">
                <img class="twitter" src="icons/twitter.svg" alt="Twitter">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/arnaud-foraison/" target="_blank">
                <img class="linkedin" src="icons/linkedin.svg" alt="Linkedin">
            </a>
        </li>
    </ul>
</section>
{{- end }}