/** SIZES **/
$header-height: 3.5rem;
$footer-height: 3rem;
$avatar-size: 16em;

/** COLORS **/
$main-color: #455a64;
$white-color: white;
$black-color: #434548;

/** FONTS **/
$primary-font-family: Marvel, Georgia, serif;
$secondary-font-family: Montserrat, Helvetica, sans-serif;
$text-font-family: Maven Pro, sans-serif;