body {
  &,* {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }
}

$main-color: #455a64;
$header-height: 3em;

nav {
  background-color: $main-color;

  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: $header-height;
    margin: 0 0.5em;

    &-item {
      margin: 0 0.3em;

      a {
        color: white;
      }
    }
  }
}

.homepage {
  background-color: $main-color;
  height: calc(100vh - #{$header-height});
}
